body {
    background-color: #333;
    color: #fff;
    font-family: "Teko", sans-serif;
  }
  
  /* アニメーションの定義 
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
  
  .tab-area {
    padding-top: 100px;
  }
  
  .tab-group {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 600px;
    margin: 0 auto;
    padding-left: 0;
  }
  
  .tab {
    width: 200px;
    height: 50px;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: none;
    border-left: solid 1px #ccc;
    background-color: #f5f5f5;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
  
  .tab[aria-selected="true"] {
    border: none;
    background-color: #6667ab;
    color: #fff;
    
    /* タブ opacity変化
    transition-property: color, background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease; */
  }
  
  .panel-group {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
  }
  
  .panel {
    display: none;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0;
    background: #f5f5f5;
    text-align: center;
  }
  
  /* パネル */
  .panel[aria-hidden="false"] {
    display: block;
    background: #6667ab;
    color: #fff;
    /* animation: show 0.4s ease; */
  }
  