.slider_list {
  position: relative;
}
.slider_item {
  position: relative;
  opacity: 0;
  transition: opacity 300ms;
}
.slider_item:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.slider_item.is-show {
  z-index: 5;
  opacity: 1;
}
.slider_dot[aria-selected="true"] {
  color: red;
}
